<p>acceuil-admin works!</p>
<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-gray-700 border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-gray-700 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">

      <li>
        <a routerLink="/admin"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap" routerLink="/admin" >Home</span>
        </a>
      </li>
      <li>
        <a  routerLink="/admin/chambre"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap"  routerLink="/admin/chambre" >Chambre</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/etudiant"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
            <path
              d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap" routerLink="/admin/etudiant">Etudiant</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/bloc"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap" routerLink="/admin/bloc">Bloc</span>
        </a>
      </li>
      <li>
        <a href="/admin/foyer"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap" routerLink="/admin/foyer">Foyer</span>
        </a>
      </li>
      <li>
        <a  routerLink="/admin/universite"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap" routerLink="/admin/universite">Universite</span>
        </a>
      </li>
      <li>
        <a  routerLink="/admin/reservation"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap" routerLink="/admin/reservation">Réservation</span>
        </a>
      </li>


    </ul>
  </div>
</aside>
<div class="ml-72">
  <div class="content-div mx-auto flex items-center">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div class="container">

<div class="page-content-wrapper border">

  <!-- Title -->
  <div class="row mb-3">
      <div class="col-12 d-sm-flex justify-content-between align-items-center">
          <h1 class="h3 mb-2 mb-sm-0">Liste des universités</h1>
          <a class="btn btn-sm btn-primary-soft mb-0" data-bs-toggle="modal" data-bs-target="#addNewcard">Ajouter
              université</a>
      </div>
  </div>


  <div class="card bg-transparent border">

      <!-- Card header START -->
      <div class="card-header bg-light border-bottom">
          <!-- Search and select START -->
          <div class="row g-3 align-items-center justify-content-between">

              <!-- Search bar -->
              <div class="col-md-8">
                  <form class="rounded position-relative">
                      <input class="form-control bg-transparent" [(ngModel)]="rechercheUniversite"
                          name="rechercheUniversite" type="search" placeholder="Entrez le nom de l'université"
                          aria-label="Search">
                      <button
                          class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                          type="submit">
                          <i class="fas fa-search fs-6 "></i>
                      </button>
                  </form>
              </div>

          </div>
          <!-- Search and select END -->
      </div>
      <!-- Card header END -->

      <!-- Card body START -->
      <div class="card-body">

          <!-- Table START -->
          <div class="table-responsive border-0 rounded-3">
              <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                  <!-- Table head -->
                  <thead>
                      <tr>
                          <th scope="col" class="border-0 rounded-start">Nom de l'université</th>
                          <th scope="col" class="border-0">Adresse de l'université</th>
                          <th scope="col" class="border-0">Foyer associée à l'université</th>
                          <th scope="col" class="border-0 rounded-end">Action</th>
                      </tr>
                  </thead>

                  <!-- Table body START -->
                  <tbody *ngFor="let universite of listUniversite ">

                      <!-- Table row -->
                      <tr>

                          <!-- Table data -->
                          <td>
                              <h6 class="table-responsive-title mb-0">{{universite.nomUniversite}}</h6>
                          </td>

                          <!-- Table data -->
                          <td>
                              <h6 class="table-responsive-title mb-0">{{universite.adresse}}</h6>
                          </td>
                        <!-- Table data -->
                        <td>
                          <h6 class="table-responsive-title mb-0">{{universite.nomFoyer}}</h6>
                        </td>
                          <!-- Table data -->
                          <td>

                              <!-- Template pour 'Non associé' -->
                              <ng-template>
                                  <h6 class="badge bg-danger bg-opacity-10 text-danger">Non associé</h6>
                              </ng-template>
                          </td>


                          <!-- Table data -->
                          <td>
                              <a (click)="openEditModal(universite)" data-bs-toggle="modal"
                                  data-bs-target="#updateNewcard"
                                  class="btn btn-light">Modifier
                                  <i class="bi bi-pencil-square"></i>
                              </a>

                              <!-- ng-template with the #affecterFoyer label for the "else" clause -->

                                  <a (click)="openAffectModal(universite)" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#getNewcard">Affecter</a>

                                  <a (click)="confirmDelete(universite.idUniversite)"

                                  class="btn btn-danger">delete
                                  <i class="bi bi-pencil-square"></i>
                              </a>

                          </td>
                      </tr>

                  </tbody>
                  <!-- Table body END -->
              </table>
              <button
              class="font-medium text-white bg-green-600 hover:bg-green-700 dark:text-white dark:bg-green-500 hover:underline py-2 px-4 rounded focus:outline-none focus:shadow-outline-green active:bg-green-800"
              (click)="exportExcel()"
              >
              Export universities
              </button>
          </div>
          <!-- Table END -->

      </div>
      <!-- All review table END -->

  </div>



  <!-- Popup modal for add card -->
  <div class="modal fade" id="addNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-dark">
                  <h5 class="modal-title text-white" id="addNewcardLabel">Ajouter université</h5>
                  <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
                      aria-label="Close"><i class="bi bi-x-lg"></i></button>
              </div>
              <div class="modal-body">
                  <form class="row text-start g-3" [formGroup]="UniversiteForm">

                      <div class="col-12">
                          <label class="form-label">Nom de l'université</label>
                          <input type="text" class="form-control" formControlName="nomUniversite"
                              placeholder="Entrez le nom de l'université">
                      </div>
                      <div class="col-12">
                          <label class="form-label">Adresse de l'université</label>
                          <input type="text" class="form-control" formControlName="adresse"
                              placeholder="Entrez l'adresse de l'université">
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="submit" [disabled]="!UniversiteForm.valid" (click)="ajouerUniversite()"
                      data-bs-dismiss="modal" aria-label="Close" class="btn btn-success my-0">Ajouter</button>
              </div>
          </div>
      </div>
  </div>



  <!-- Popup modal for add card -->
  <div class="modal fade" id="updateNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-dark">
                  <h5 class="modal-title text-white" id="addNewcardLabel">Modifier université</h5>
                  <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
                      aria-label="Close"><i class="bi bi-x-lg"></i></button>
              </div>
              <div class="modal-body">
                  <form class="row text-start g-3" [formGroup]="UniversiteForm">

                      <div class="col-12">
                          <label class="form-label">Nom de l'université</label>
                          <input type="text" class="form-control" formControlName="nomUniversite">
                      </div>
                      <div class="col-12">
                          <label class="form-label">Adresse de l'université</label>
                          <input type="text" class="form-control" formControlName="adresse">
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="submit" (click)="updateUniversite()" data-bs-dismiss="modal" aria-label="Close"
                      class="btn btn-success my-0">Modifier</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Popup modal for add card -->
  <div class="modal fade" id="getNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-dark">
                  <h5 class="modal-title text-white" id="addNewcardLabel">Affecter université à un foyer</h5>
                  <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
                      aria-label="Close"><i class="bi bi-x-lg"></i></button>
              </div>
              <div class="modal-body">
                  <form class="row text-start g-3">
                      <!-- Card number -->
                      <div class="col-12">
                          <label class="form-label">Foyer <span class="text-danger">*</span></label>
                          <select class="border-0 bg-light rounded-end ps-1 form-select border-0 z-index-9" [(ngModel)]="selectedFoyerId" name="selectedFoyerId">
                              <option value="" disabled>Selectionner un foyer</option>
                              <option *ngFor="let foyer of listFoyerWithoutUniversite" [value]="foyer.idFoyer">{{ foyer.nomFoyer }}</option>
                          </select>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="submit" data-bs-dismiss="modal" aria-label="Close"
                      class="btn btn-success my-0" [disabled]="selectedFoyerId === null || selectedUniversite === null" (click)="affecterFoyerAUniversite()">Affecter</button>
              </div>
          </div>
      </div>
  </div>
