<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="/acceuil">BOOK4STUDENTS</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
      <li><a  class="getstarted" routerLink="/login">login</a></li>

      <li><a  class="getstarted" routerLink="/sign-up">SignUp</a></li>
    </ul>



    </nav>

  </div>
</header>
