<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">

			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">

					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->


		</div>
	</nav>
	<!-- Nav END -->
</header>
<!-- Header END -->

<main>
    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Image -->
                    <!-- Title -->
                    <h1 class="display-1 text-danger mb-0">404</h1>
                    <!-- Subtitle -->
                    <h2>Oh non, quelque chose s'est mal passé!</h2>
                    <!-- info -->
                    <p class="mb-4">Soit quelque chose s'est mal passé, soit cette page n'existe plus.</p>
                    <!-- Button -->
                    <a routerLink="/acceuil" class="btn btn-primary mb-0">Amenez-moi à la page d'accueil</a>
                </div>
            </div>
        </div>
    </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-12">

				<!-- Social media icon -->

			</div>
			<!-- Widget 1 END -->
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-lg-flex justify-content-center align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-body text-primary-hover"> Copyrights ©2023 ESPRIT.</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
